.bg-i{
    /* background-image: url(img/images.jpeg); */
    background-color: beige;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}